.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.form {
  width: 300px;
  margin-right: 10%;
  margin-left: 5%;
  margin-top: 10%;
}

.wall {
  flex: 1;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
}

.mat-checkbox {
  margin-bottom: 10px;
}


.mat-icon {
  vertical-align: middle;
  margin-left: 5px;
}
